/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &cuddlykeyboards_ferris_layout;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-composite";
        rows = <4>;
        columns = <10>;

        left {
            kscan = <&kscan_left>;
        };

        right {
            kscan = <&kscan_right>;
            col-offset = <5>;
        };
    };

    kscan_left: kscan_left {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        
        col-gpios
            = <&pro_micro 21 GPIO_ACTIVE_HIGH>  // D1/P1.06
            , <&pro_micro 20 GPIO_ACTIVE_HIGH>  // D0/P1.04
            , <&pro_micro 19 GPIO_ACTIVE_HIGH>  // D2/P0.11
            , <&pro_micro 18 GPIO_ACTIVE_HIGH>  // D3/P1.00
            , <&pro_micro 15 GPIO_ACTIVE_HIGH>  // D4/P0.24
            ;
        row-gpios
            = <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   // D7/P0.09
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   // D8/P0.10
            , <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   // D9/P1.11
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   // D10/P1.13
            ;
    };

    kscan_right: kscan_right {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "row2col";
        
        col-gpios
            = <&right_io 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&right_io 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&right_io 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&right_io 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&right_io 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
        row-gpios
            = <&right_io 8  (GPIO_ACTIVE_LOW)>
            , <&right_io 9  (GPIO_ACTIVE_LOW)>
            , <&right_io 10 (GPIO_ACTIVE_LOW)>
            , <&right_io 11 (GPIO_ACTIVE_LOW)>
            ;
    };
};

&pro_micro_i2c {
    status = "okay";

    right_io: mcp23017@20 {
        compatible = "microchip,mcp23017";
        status = "okay";
        gpio-controller;
        reg = <0x20>;
        #gpio-cells = <2>;
        ngpios = <16>;
    };
};
